<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Will Code For Food</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
     <header>
      <a href="/"><img src="/images/kiosklabs-small.png" alt="kiosk labs logo"></a>
      <h1>Kiosk Theory</h1>
      <p>Wely Jesch Sabalilag <br/>
      <a href="http://github.com/kiosklabs">
        <img src="/images/github.png" alt="github" height="24px" width="24px" style="opacity:0.5; margin:10px 10px 0px 0px">
      </a>
      <a href="http://linkedin.com/welyjs">
        <img src="/images/linkedin.png" alt="github" height="24px" width="24px" style="opacity:0.5; margin-right:5px">
        </a>
      </p>
      <div class="pages">
        <p class="view"><a href="/notebooks/">Machine Learning <small>A list of ipython notebooks and code</small></a></p>
        <p class="view"><a href="/code/">Code Gallery <small>Solutions to Codility, Hacker Rank and Leet Code</small></a></p>
        <p class="view"><a href="/portfolio/">Portfolio <small>PHP, Python and React Projects</small></a></p>
      </div>
    </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
